{% extends 'base.html' %}

{% load static %}

{% block menu %}
        <header class="main_menu_area" style="margin-top: 10px;">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href=""><img src="{% static 'logo.png' %}" alt=""></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href={{curl}}user/>Home</a></li>
                            <li class="dropdown submenu">
                                <a href={{curl}}user/about/>About US</a>
                            <!--<ul class="dropdown-menu">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="about-us2.html">About Us2</a></li>
                                </ul>-->
                            </li>
                            <li class="dropdown submenu">
                                <a href="{{curl}}user/menu/" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">Menu </a>
                                <ul class="dropdown-menu">
                                   <!-- <li><a href="menu-grid.html">Menu Grid</a></li>
                                    <li><a href="menu-list.html">Menu List</a></li>-->
                                </ul>
                            </li>
                           
                            <li class="dropdown submenu">
                                <a href="{{curl}}user/userpackages/" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">Packages </a>
                                <!--<ul class="dropdown-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-gallery.html">Blog Gallery</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>-->
                            </li>
                            <li><a href="{{curl}}user/contact/">Contact US</a></li>
                                <li class="dropdown submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                <!--    <li><a href="{{curl}}login/">Login</a></li>
                                    <li><a href="{{curl}}register/">Register</a></li>-->
                                   <li><a href="{{curl}}user/usereditprofile/">My profile</a></li> 
                                    <li><a href="#">Setting</a></li>
                                    <li><a href="{{curl}}login/">Log Out</a></li>
                                    <!--<li><a href="blog-details.html">Blog Details</a></li>-->
                                </ul>
                                </li>
                            <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                        </ul>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>

{% endblock %}



{% block chef %}
        <section class="our_chefs_area">
            <div class="container">
                <div class="s_black_title">
                    <h3>Food</h3>
                    <h2>Category</h2>
                </div>
                <div class="chefs_slider_active">
                   <!-- <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'img/chef/chef-1.jpg' %}" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>Thomas Keller</h4></a>
                                    <h5>Chef</h5>
                                    <p>Lorem ipsum dolor sit amet et consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>Suzanne Goin</h3>
                                    <h4>Chef</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                    {% for row in catList %}
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{{media_url}}/{{row.caticon}}" alt="">
                                <div class="chef_hover">
                                    <a href="{{curl}}user/usershowsubcat/?cnm={{row.catnm}}"><h4>{{row.catnm}}</h4></a>
                                    <h5></h5>
                                    <p>{{row.catdisc}}</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>{{row.catnm}}</h3>
                                    <h4></h4>
                                </div>
                                <ul>
                                    <li><a href="{{curl}}user/usershowsubcat/?cnm={{row.catnm}}">views</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--<div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'img/chef/chef-3.jpg' %}" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>Thomas Keller</h4></a>
                                    <h5>Chef</h5>
                                    <p>Lorem ipsum dolor sit amet et consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>Paul Bocuse</h3>
                                    <h4>Chef</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'img/chef/chef-4.jpg' %}" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>Thomas Keller</h4></a>
                                    <h5>Chef</h5>
                                    <p>Lorem ipsum dolor sit amet et consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>Giada Deen</h3>
                                    <h4>Chef</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="chef_item_inner">
                            <div class="chef_img">
                                <img src="{% static 'img/chef/chef-1.jpg' %}" alt="">
                                <div class="chef_hover">
                                    <a href="#"><h4>Thomas Keller</h4></a>
                                    <h5>Chef</h5>
                                    <p>Lorem ipsum dolor sit amet et consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <div class="chef_name">
                                <div class="name_chef_text">
                                    <h3>Suzanne Goin</h3>
                                    <h4>Chef</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </section>
{% endblock %}
{% block todaymenu %}
        <section class="most_popular_item_area">
            <div class="container">
                <div class="s_white_title">
                    <h3>Our Food</h3>
                    <h2>Menu</h2>
                </div>
                <div class="popular_filter">
                    <ul>
                        <li class="active" data-filter="*"><a href="">All</a></li>
                        <li data-filter=".break"><a href="">Breakfast</a></li>
                        <li data-filter=".lunch"><a href="">Lunch</a></li>
                        <li data-filter=".dinner"><a href="">Dinner</a></li>
                     <!--   <li data-filter=".snacks"><a href="">Snacks</a></li>  -->
                        <li data-filter=".coffee"><a href="">Coffee</a></li>
                    </ul>
                </div> 
                <div class="p_recype_item_main">
                    <div class="row p_recype_item_active">
                        {% for row in menulist %}
                        <div class="col-md-6 {{row.mealcatnm}}">
                            <div class="media">
                                <div class="media-left">
                                    <img src="{{media_url}}/{{row.mealimg}}" height="155" width="130" alt="">
                                </div>
                                <div class="media-body">
                                    
                                    <a href=""><h3>{{row.mealnm}}</h3></a>
                                    
                                    <h4>&#8377;{{row.mealprice}}</h4>
                                    <p>{{row.mealdisc}} </p>
                                    <a class="read_mor_btn" href="">Add To Cart</a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                  {% endfor %}
                    </div>
                </div>
            </div>
        </section>
{% endblock %}



{% block footer %}
        <footer class="footer_area">
            <div class="footer_widget_area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <aside class="f_widget about_widget">
                                <div class="f_w_title">
                                    <h4>About Book My Meal</h4>
                                </div>
                                <p>With Book My Meal you can order your lunch,Dinner and Monthly Package online, without leaving your couch at home or your desk at work. Book My Meal is indeed the smartest way to order your meal. we are committed to providing consumers with high-quality, hygienic that are flavourful, nutritious and convenient. Now your food is definitely, one click away!</p>
                              <!--  <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                   <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-3">
                            <aside class="f_widget contact_widget">
                                <div class="f_w_title">
                                    <h4>CONTACT US</h4>
                                </div>
                                <p>Have questions, comments or just want to say hello:</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-envelope"></i>backpiper.com@gmail.com</a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i>+88 01911 854 378</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i>5001 E. Colorado Blvd. Suite 820,<br /> Pasadena, CA 91106</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-3">
                            <aside class="f_widget twitter_widget">
                                <div class="f_w_title">
                                    <h4>Twitter Feed</h4>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">@_sumonrahman:</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                    </li>
                                    <li>
                                        <a href="#">@_sumonrahman:</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                    </li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-3">
                            <aside class="f_widget gallery_widget">
                                <div class="f_w_title">
                                    <h4>Gallery On Flickr</h4>
                                </div>
                                <ul>
                                    <li><a href="#"><img src="{% static 'img/gallery/f-w-gallery/f-w-gallery-1.jpg' %}" alt=""><i class="fa fa-search"></i></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/f-w-gallery/f-w-gallery-2.jpg' %}" alt=""><i class="fa fa-search"></i></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/f-w-gallery/f-w-gallery-3.jpg' %}" alt=""><i class="fa fa-search"></i></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/f-w-gallery/f-w-gallery-4.jpg' %}" alt=""><i class="fa fa-search"></i></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/f-w-gallery/f-w-gallery-5.jpg' %}" alt=""><i class="fa fa-search"></i></a></li>
                                    <li><a href="#"><img src="{% static 'img/gallery/f-w-gallery/f-w-gallery-6.jpg' %}" alt=""><i class="fa fa-search"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy_right_area">
                <div class="container">
                    
                    <div class="pull-left">
                        <h5><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Welcome To Our Meal <i class="fa fa-heart-o" aria-hidden="true"></i>  <a href="#" target="_blank">{{sunm}}</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p></h5>
                    </div>
                    <div class="pull-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Menu</a></li>
                           <!-- <li><a href="#">Gallery</a></li>
                            <li><a href="#">Reservation</a></li>
                            <li><a href="#">News</a></li>-->
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}