{% extends 'adminhome.html' %}

{% load static %}

{% block slider %}
        <section class="banner_area">
            <div class="container">
                <div class="banner_content">
                    <h4>Manage Category  </h4>
                 <!--   <a href="{{curl}}admin/">Home</a>
                    <a class="active" href="{{curl}}menu/">Menu</a>  -->
                </div>
            </div>
        </section>
{% endblock %}
<style>
    body{
        background-color: black;
        margin: 0;
        padding: 0;
        display: flex;
        align-items:center;
        min-height: 100vh;
        justify-content: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
    a{
        padding: 15px 30px;
        position: relative;
        text-transform: uppercase;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        font-size:35px;
        letter-spacing: 4px;
        transition: 0.2s;
    }
    a:hover{
        color: black;
        background: yellow;
        font-size:38px;
        border-radius: 50px;
        transition-delay: 1s;
        box-shadow: 0  0 10px yellow, 0 0 40px red, 0 0 80px red;
    }
    a span{
        position: absolute;
        display: block;
    }
   a span:nth-child(1){
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background:linear-gradient(90deg, transparent,  red);
    }
     a:hover span:nth-child(1){
         left: 100%;
         transition: 1s;
     }
   a span:nth-child(3){
      bottom: 0px;
      right: -100%;
      width: 100%;
      height: 2px;
      background:linear-gradient(270deg, transparent,  blue);
    }
     a:hover span:nth-child(3){
         right:  100%;
         transition: 1s;
         transition-delay: 0.5s;
     }
      a span:nth-child(2){
      top: -100px;
      right: 0px;
      width: 2px;
      height: 100%;
      background:linear-gradient(180deg, transparent,  yellow);
    }
     a:hover span:nth-child(2){
         top:  100%;
         transition: 1s;
         transition-delay: 0.25s;
     }
     a span:nth-child(4){
      bottom: -100px;
      left:  0px;
      width: 2px;
      height: 100%;
      background:linear-gradient(360deg, transparent, rgb(225, 0, 255));
    }
     a:hover span:nth-child(4){
         bottom:  100%;
         transition: 1s;
         transition-delay: 0.75s;
     } 
</style>

{% block service %}
<center>
<h1>Add Category Here</h1>
</center>

<font style="color:orange;font-size:20px;">{{output}}</font>
<br>
<form enctype="multipart/form-data" method="post" action={{curl}}myadmin/admincategory/ >
{% csrf_token %}
<table class="table table-striped" cellspacing="10">
<tr>
    <td>Category Name</td>
    <td><input type="text" name="catnm" placeholder="Enter category"/></td>

     <td>Category Discription</td>
    <td><input type="text" name="catdisc" placeholder="Category discription"/></td>    

    <td>Category Icon</td>
    <td><input type="file" name="caticon"/></td>

    <td><input class="btn btn-success" type="submit" name="s" value="Add category"/></td>
</tr>
</table>
<table class="table table-striped">
    <tr style="background-color: grey">
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Edit Category</th>
        <th>Action</th>
    </tr>
{% for row in catlist %}
    <tr>
        
        <td>{{row.catid}}</td>
        <td>{{row.catnm}}</td>
        <td><a href="#" title="Edit" ><i class="fa fa-edit"></i></a></td>
        <td><a href="#" title="Delete" ><i class="fa fa-trash"></i></a></td>
        
    </tr>
{% endfor %}
</table>
<br>
</form>


{% endblock %}
{% block todaymenu %}
{% endblock %}
{% block chef %}
{% endblock %}
{% block news %}
<a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Light Button
    </a>
{% endblock %}
{% block footer %}
<div class="copy_right_area">
                <div class="container">
                    <div class="pull-left">
                        <h5><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Welcome To Our Meal <i class="fa fa-heart-o" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank">{{sunm}}</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p></h5>
                    </div>
                    <div class="pull-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Menu</a></li>
                           <!-- <li><a href="#">Gallery</a></li>
                            <li><a href="#">Reservation</a></li>
                            <li><a href="#">News</a></li>-->
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
{% endblock %}
